caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

li {
  list-style-type: none;
}

q:before,
q:after {
  content: "";
}
​ abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size: 100%;
  border-radius: 0;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: inherit;
}
​ input,
textarea,
select {
  font-size: 16px;
}
​ textarea {
  resize: vertical;
  display: block;
}
​ button {
  padding: 0;
  cursor: pointer;
}
​ legend {
  color: #000;
}
​ main {
  display: block;
}
​ a {
  text-decoration: none;
  color: inherit;
}
​ img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
​ svg {
  display: block;
}
​ * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}
